<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url( <%= asset_path 'wheelhouse_banner.jpg' %> );">

  <div class="container d-flex justify-content-start my-5" id="main-search">
    <div class="w-50 px-2">
      <%= form_tag tiny_homes_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: 'tiny_home_address',
          placeholder: "Location by Address, City or Country"
        %>
    </div>
        <div class="w-25 px-2">
            <%= submit_tag "Search", class: "btn btn-secondary" %>
        </div>
      <% end %>
  </div>

  <div class="container">
    <h1>Wheelhouse</h1>
    <p>Simplicity is the ultimate sofistication</p>
    <%= link_to 'Discover', tiny_homes_path, class: 'btn btn-secondary' %>
  </div>
</div>

<div class="container d-flex justify-content-center mt-5">
  <h2>Our top <strong>3</strong> picks</h2>
</div>

<%= render 'shared/card' %>
