<!-- <p>Address: <%#= @tiny_home.address %></p>
<p>Description: <%#= @tiny_home.description %></p>
<p>Available: <%#= @tiny_home.available %></p>
<p>Price: <%#= @tiny_home.price %></p>
<p>Room number: <%#= @tiny_home.room_number %></p>
<p>Size: <%#= @tiny_home.size %></p> -->

<!-- card -->
<div class="container pt-5 ">
  <div class="tiny-title pl-5">
      <h2><%= @tiny_home.name %></h2>
    <div class="d-flex tiny_details">
      <p><%= @tiny_home.address %></p>
    </div>
  </div>

  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-6 px-0">
        <div class="assembled-tiny" id="main-image">
          <img src="https://thelittlerebellion.com/wp-content/uploads/Sojourner-1-881x589-1.jpg", id="main-image-left" />
        </div>
      </div>
      <div class="col-lg-3 px-0">
        <div class="assembled-tiny">
          <img src="https://thelittlerebellion.com/wp-content/uploads/Sojourner-1-881x589-1.jpg" />
          <img src="https://thelittlerebellion.com/wp-content/uploads/Sojourner-1-881x589-1.jpg" />
        </div>
      </div>
      <div class="col-lg-3 px-0">
        <div class="assembled-tiny">
          <img src="https://thelittlerebellion.com/wp-content/uploads/Sojourner-1-881x589-1.jpg" id="main-top-left"/>
          <img src="https://thelittlerebellion.com/wp-content/uploads/Sojourner-1-881x589-1.jpg" id="main-top-right"/>
        </div>
      </div>
    </div>
  </div>
<!-- Description =========== BOOKING -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-6">
        <div class="card-tiny-infos">
          <div>
            <p><%= @tiny_home.description %></p>
            <div class="d-flex tiny_details">
              <p>Rooms: <%= @tiny_home.room_number %></p>
              <p><%= @tiny_home.size %> sq.ft</p>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-tiny-user avatar-bordered" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 justify-content-flex-end">

        <% if policy(Booking).new? %>
          <%= link_to 'Book', new_tiny_home_booking_path(@tiny_home), class: "btn btn-secondary" %>
        <% end %>
        <h2 class="card-tiny-pricing"><%= @tiny_home.price %>$/day</h2>
      </div>
    </div>
  </div>

<!-- AMENITIES -->

  <div class="container mt-3 border-top">
    <h2>Amenities</h2>
      <div class="row">
        <div class="col-lg-3">
          <ul>

            <% @tiny_home.amenities.each do |amenity| %>

              <li class="list-items-space">
                <i class='<%= amenity.icon %>'></i>
                <p><%= amenity.name %></p>
              </li>

            <% end %>
<!--               <li class="list-items-space">
                <i class="fas fa-hand-sparkles"></i>
                <p>Oven</p>
              </li>
              <li class="list-items-space">
                <i class="fas fa-shower"></i>
                <p>Microwave</p>
              </li>
              <li class="list-items-space">
                <i class="fas fa-fan"></i>
                <p>Heating</p>
              </li> -->
            </ul>
          </div>
         <!--  <div class="col-lg-3">
            <ul>
              <li class="list-items-space">
                <i class="fas fa-bread-slice"></i>
                <p>Toaster</p>
              </li>
              <li class="list-items-space">
                <i class="fas fa-tv"></i>
                <p>TV</p>
              </li>
              <li class="list-items-space">
                <i class="fas fa-umbrella-beach"></i>
                <p>Shade</p>
              </li>
            </ul>
          </div> -->
          <div class="col-lg-6">
            <h1></h1>
          </div>
      </div>
  </div>
